[tool.ruff]
ignore = ["E501", "D400", "D415", "D202", "D203", "D210", "D212", "D401", "S101", "PLR2004", "PLW2901"]
select = ["E", "F", "D", "I", "N", "S", "C4", "ICN", "PIE", "T20", "PT", "Q", "SIM", "PL"]

fixable = ["E", "F", "D", "I", "N", "S", "C4", "ICN", "PIE", "T20", "PT", "Q", "SIM", "PL"]
unfixable = ["F841", "F401"]

# Exclude a variety of commonly ignored directories.
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "venv",
]

# Same as Black.
line-length = 88

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Assume Python 3.9.
target-version = "py39"

[tool.ruff.per-file-ignores]
"shared_code/cosmosdb_module.py" = ["S311"]

[tool.ruff.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10
